/* FONTS */
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-regular-webfont.woff') format('woff'),
		 url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-bold-webfont.woff') format('woff'),
		 url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* GLOBAL */
html {
	background: url(../images/html-bg.jpg) repeat top center;
}

* {
	outline: none;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

body {
	background: transparent;
	color: #000;
	font-family: OpenSansRegular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #c0392b;
	font-family: OpenSansBold;
	margin: 0;
}

h1 {
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
}

a:active,
a:focus,
a:hover {
	outline: none;
	text-decoration: none;
}

/* CUSTOM STYLES */
.container-wrapper {
	padding: 50px 0;
}

/* header */
header {
	margin: 0 0 50px 0;
}

header h1,
header h4 {
	color: #fff;
	text-shadow: 0px 2px 0px #e74c3c;
}

header h1 {
	margin: 0;
}

header h4 {
	font-size: 24px;
	margin: 0;
	text-align: center;
}

/* tab */
.tabs-wrapper {
	text-align: center;
}

.tab {
	border: solid 1px #f1f1f1;
	-webkit-border-radius: 5px 5px 0 0;
	   -moz-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
	border-bottom: 0;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	position: relative;
	top: 1px;
	vertical-align: bottom;
}

.tab a {
	background: #fff;
	color: #000;
	display: block;
	font-family: OpenSansBold;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	width: 60px;
}

.tab.ui-tabs-active a {
	color: #e74c3c;
	height: 50px;
	line-height: 50px;
}

.tab a span {
	display: none;
}

.tab-content {
	background: #fff;
	border: 1px solid #f1f1f1;
	-webkit-border-radius: 0 0 5px 5px;
	   -moz-border-radius: 0 0 5px 5px;
			border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0px 6px 0px #c0392b;
	   -moz-box-shadow: 0px 6px 0px #c0392b;
			box-shadow: 0px 6px 0px #c0392b;
	padding: 30px;
}

/* about-content */
.photo img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	max-width: 200px;
	width: 100%;
}

/* resume-content */
.resume-content h2 {
	border-bottom: 1px dashed #444;
	border-top: 1px dashed #444;
	margin: 0 0 15px 0;
	padding: 10px 0;
}

.skills,
.exp,
.edu {
	margin: 0 0 30px 0;
}

.skills-list li {
	display: inline-block;
	margin: 0 0 5px 0;
	vertical-align: top;
	width: 100%;
}

.exp-item,
.edu-item {
	margin: 0 0 30px 0;
}

.exp-title,
.edu-title {
	color: #950e00;
	margin: 0 0 3px 0;
}

.exp-date,
.edu-date {
	color: #a2a2a2;
	font-size: 12px;
	margin: 0 0 10px 0;
}

.exp-desc {
	font-size: 13px;
}

/* portfolio-content */
.portfolio-content h2 {
	margin: 0 0 15px 0;
}

.site-list {
	margin: 0 -10px;
}

.site-list li:before {
	content: '\f0c1';
	color: #428bca;
	font-family: FontAwesome;
	padding: 0 10px 0 0;
}

.site-list li {
	display: inline-block;
	margin: 0 0 5px 0;
	padding: 0 10px;
	vertical-align: top;
	width: 100%;
}

/* contact-content */
.contact-content {
	text-align: center;
}

.contact-item {
	display: inline-block;
	float: none;
	vertical-align: top;
	margin: 0 0 15px 0;
}

.contact-item div a {
	color: #000;
}

/* footer */
footer {
	background: #fff;
	border: 1px solid #f1f1f1;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0px 6px 0px #ccc;
	   -moz-box-shadow: 0px 6px 0px #ccc;
			box-shadow: 0px 6px 0px #ccc;
	margin: 20px 0 0 0;
	padding: 15px 15px 5px;
	text-align: center;
}

/*------------------------------------------------------------------
	[ Mobile 480px ]
-------------------------------------------------------------------*/
@media only screen and (min-width: 480px) {
	.tab a {
		width: 100px;
	}

	.tab a span {
		display: inline;
	}

	.skills-list li {
		width: 50%;
	}

}

/*------------------------------------------------------------------
	[ Tablet 768px ]
-------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
	.tab {
		margin: 0 5px;
	}

	.tab a {
		width: 120px;
	}

	.site-list li {
		width: 50%;
	}

	.skills-list li {
		width: 25%;
	}
}

/*------------------------------------------------------------------
	[ Desktop 992px ]
-------------------------------------------------------------------*/
@media only screen and (min-width: 992px) {}

/*------------------------------------------------------------------
	[ Wide Screen 1200px ]
-------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {}